<a href="https://colab.research.google.com/github/matthewpecsok/data_engineering/blob/main/tutorials/de_nosql_databases_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This tutorial will introduce you to  MongoDB a document database. MongoDB deals in data that is effictively a dictionary in Python or JSON data if it's a file. This document-oriented database is very different from the relational database designs we've seen thus far. We'll learn how to populate the database with data, how to query the database for documents we'd like to find, how to extract data for data engineering purposes.

In [1]:
!pip install faker
!pip install pymongo

Collecting faker
  Downloading Faker-22.2.0-py3-none-any.whl (1.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 13.8 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.10/dist-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.4->faker) (1.16.0)
Installing collected packages: faker
Successfully installed faker-22.2.0
Collecting pymongo
  Downloading pymongo-4.6.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (677 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 677.1/677.1 kB 3.9 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.4.2-py3-none-any.whl (300 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 300.4/300.4 kB 8.6 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.4.2 pymongo-4.6.1

In [2]:
from faker import Faker
from pymongo import MongoClient
import random
import datetime

# install MongoDB

In [3]:
!apt-get install gnupg curl

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
curl is already the newest version (7.81.0-1ubuntu1.15).
gnupg is already the newest version (2.2.27-3ubuntu2.1).
gnupg set to manually installed.
0 upgraded, 0 newly installed, 0 to remove and 24 not upgraded.

In [4]:
!curl -fsSL https://pgp.mongodb.com/server-7.0.asc | \
   sudo gpg -o /usr/share/keyrings/mongodb-server-7.0.gpg \
   --dearmor

In [5]:
!echo "deb [ arch=amd64,arm64 signed-by=/usr/share/keyrings/mongodb-server-7.0.gpg ] https://repo.mongodb.org/apt/ubuntu jammy/mongodb-org/7.0 multiverse" | sudo tee /etc/apt/sources.list.d/mongodb-org-7.0.list

deb [ arch=amd64,arm64 signed-by=/usr/share/keyrings/mongodb-server-7.0.gpg ] https://repo.mongodb.org/apt/ubuntu jammy/mongodb-org/7.0 multiverse

In [6]:
!apt-get update

Get:1 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,626 B]
Hit:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Hit:3 http://archive.ubuntu.com/ubuntu jammy InRelease
Ign:4 https://repo.mongodb.org/apt/ubuntu jammy/mongodb-org/7.0 InRelease
Get:5 http://security.ubuntu.com/ubuntu jammy-security InRelease [110 kB]
Get:6 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [119 kB]
Get:7 https://repo.mongodb.org/apt/ubuntu jammy/mongodb-org/7.0 Release [2,090 B]
Get:8 https://repo.mongodb.org/apt/ubuntu jammy/mongodb-org/7.0 Release.gpg [866 B]
Get:9 https://repo.mongodb.org/apt/ubuntu jammy/mongodb-org/7.0/multiverse amd64 Packages [22.9 kB]
Hit:10 http://archive.ubuntu.com/ubuntu jammy-backports InRelease
Get:11 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [1,617 kB]
Hit:12 https://ppa.launchpadcontent.net/c2d4u.team/c2d4u4.0+/ubuntu jammy InRelease
Get:13 https://repo.mongodb.org/apt/ubuntu jammy/mongodb-org/7.0/multiverse arm64 Packages [21.9 kB]
Hit:14 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Hit:15 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Hit:16 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Get:17 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,309 kB]
Fetched 3,207 kB in 3s (1,131 kB/s)
Reading package lists... Done

In [7]:
!apt-get install -y mongodb-org

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
The following additional packages will be installed:
  mongodb-database-tools mongodb-mongosh mongodb-org-database mongodb-org-database-tools-extra
  mongodb-org-mongos mongodb-org-server mongodb-org-shell mongodb-org-tools
The following NEW packages will be installed:
  mongodb-database-tools mongodb-mongosh mongodb-org mongodb-org-database
  mongodb-org-database-tools-extra mongodb-org-mongos mongodb-org-server mongodb-org-shell
  mongodb-org-tools
0 upgraded, 9 newly installed, 0 to remove and 24 not upgraded.
Need to get 162 MB of archives.
After this operation, 530 MB of additional disk space will be used.
Get:1 https://repo.mongodb.org/apt/ubuntu jammy/mongodb-org/7.0/multiverse amd64 mongodb-database-tools amd64 100.9.4 [51.9 MB]
Get:2 https://repo.mongodb.org/apt/ubuntu jammy/mongodb-org/7.0/multiverse amd64 mongodb-mongosh amd64 2.1.1 [47.9 MB]
Get:3 https://repo.mongodb.org/apt/ubuntu jammy/mongodb-org/7.0/multiverse amd64 mongodb-org-shell amd64 7.0.5 [2,982 B]
Get:4 https://repo.mongodb.org/apt/ubuntu jammy/mongodb-org/7.0/multiverse amd64 mongodb-org-server amd64 7.0.5 [36.5 MB]
Get:5 https://repo.mongodb.org/apt/ubuntu jammy/mongodb-org/7.0/multiverse amd64 mongodb-org-mongos amd64 7.0.5 [25.4 MB]
Get:6 https://repo.mongodb.org/apt/ubuntu jammy/mongodb-org/7.0/multiverse amd64 mongodb-org-database-tools-extra amd64 7.0.5 [7,762 B]
Get:7 https://repo.mongodb.org/apt/ubuntu jammy/mongodb-org/7.0/multiverse amd64 mongodb-org-database amd64 7.0.5 [3,424 B]
Get:8 https://repo.mongodb.org/apt/ubuntu jammy/mongodb-org/7.0/multiverse amd64 mongodb-org-tools amd64 7.0.5 [2,766 B]
Get:9 https://repo.mongodb.org/apt/ubuntu jammy/mongodb-org/7.0/multiverse amd64 mongodb-org amd64 7.0.5 [2,800 B]
Fetched 162 MB in 11s (15.4 MB/s)
Selecting previously unselected package mongodb-database-tools.
(Reading database ... 121654 files and directories currently installed.)
Preparing to unpack .../0-mongodb-database-tools_100.9.4_amd64.deb ...
Unpacking mongodb-database-tools (100.9.4) ...
Selecting previously unselected package mongodb-mongosh.
Preparing to unpack .../1-mongodb-mongosh_2.1.1_amd64.deb ...
Unpacking mongodb-mongosh (2.1.1) ...
Selecting previously unselected package mongodb-org-shell.
Preparing to unpack .../2-mongodb-org-shell_7.0.5_amd64.deb ...
Unpacking mongodb-org-shell (7.0.5) ...
Selecting previously unselected package mongodb-org-server.
Preparing to unpack .../3-mongodb-org-server_7.0.5_amd64.deb ...
Unpacking mongodb-org-server (7.0.5) ...
Selecting previously unselected package mongodb-org-mongos.
Preparing to unpack .../4-mongodb-org-mongos_7.0.5_amd64.deb ...
Unpacking mongodb-org-mongos (7.0.5) ...
Selecting previously unselected package mongodb-org-database-tools-extra.
Preparing to unpack .../5-mongodb-org-database-tools-extra_7.0.5_amd64.deb ...
Unpacking mongodb-org-database-tools-extra (7.0.5) ...
Selecting previously unselected package mongodb-org-database.
Preparing to unpack .../6-mongodb-org-database_7.0.5_amd64.deb ...
Unpacking mongodb-org-database (7.0.5) ...
Selecting previously unselected package mongodb-org-tools.
Preparing to unpack .../7-mongodb-org-tools_7.0.5_amd64.deb ...
Unpacking mongodb-org-tools (7.0.5) ...
Selecting previously unselected package mongodb-org.
Preparing to unpack .../8-mongodb-org_7.0.5_amd64.deb ...
Unpacking mongodb-org (7.0.5) ...
Setting up mongodb-mongosh (2.1.1) ...
Setting up mongodb-org-server (7.0.5) ...
Adding system user `mongodb' (UID 104) ...
Adding new user `mongodb' (UID 104) with group `nogroup' ...
Not creating home directory `/home/mongodb'.
Adding group `mongodb' (GID 107) ...
Done.
Adding user `mongodb' to group `mongodb' ...
Adding user mongodb to group mongodb
Done.
System has not been booted with systemd as init system (PID 1). Can't operate.
Failed to connect to bus: Host is down
Setting up mongodb-org-shell (7.0.5) ...
Setting up mongodb-database-tools (100.9.4) ...
Setting up mongodb-org-mongos (7.0.5) ...
Setting up mongodb-org-database-tools-extra (7.0.5) ...
Setting up mongodb-org-database (7.0.5) ...
Setting up mongodb-org-tools (7.0.5) ...
Setting up mongodb-org (7.0.5) ...
Processing triggers for man-db (2.10.2-1) ...

In [11]:
!mkdir /data
!mkdir /data/db

In [12]:
import subprocess
subprocess.Popen(["mongod"])

In [13]:
from pymongo import MongoClient
client = MongoClient()
client.list_database_names() # ['admin', 'local']

['admin', 'config', 'local']

## create the db

name our database

In [14]:
# Access a specific database (replace 'your_database' with the desired database name)
db = client['cloud_purchase_db']

## Set up Collections

drop the collections in case they already exist so we don't duplicate data

In [15]:
db.drop_collection('customers')
db.drop_collection('products')
db.drop_collection('orders')

{'ok': 1.0}

do we have any collections?

## list collections

In [16]:
db.list_collection_names()

[]

In [17]:
# Create Faker instance
fake = Faker()

# Create the data

## create customer data

In [18]:
# Generate customer orders
def gen_orders():

  orders = []
  for i in range(1,random.randint(1, 5)):

      productid = random.randint(1, 10)
      units = random.randint(10000, 1000000)
      if random.random() < 0.1:
          units *= 1000
      purchase_date = fake.date_between(start_date='-1y', end_date='today')
      purchase_date = datetime.datetime.combine(purchase_date, datetime.datetime.min.time())

      order = {
          'productid': productid,
          'units': units,
          'purchase_date': purchase_date
      }

      orders.append(order)

  return orders

In [19]:
# Generate customers
customers = []
for i in range(100):
    customer = {
        'customerid': i+1,
        'name': fake.name(),
        'email': fake.email(),
        'phone': [fake.phone_number(),fake.phone_number(),fake.phone_number()],
        'orders' : gen_orders()
    }
    customers.append(customer)

In [20]:
customers[0:3]

[{'customerid': 1,
  'name': 'Rhonda Fox',
  'email': 'megangarcia@example.net',
  'phone': ['898-529-5735x4517', '432-289-0539x82060', '225.976.0238x3825'],
  'orders': [{'productid': 4,
    'units': 409452,
    'purchase_date': datetime.datetime(2023, 12, 19, 0, 0)},
   {'productid': 10,
    'units': 11528,
    'purchase_date': datetime.datetime(2023, 10, 22, 0, 0)}]},
 {'customerid': 2,
  'name': 'Jill Moore',
  'email': 'tammy52@example.org',
  'phone': ['309.224.5458', '918-741-9946x793', '4567089928'],
  'orders': [{'productid': 3,
    'units': 521791000,
    'purchase_date': datetime.datetime(2023, 8, 11, 0, 0)}]},
 {'customerid': 3,
  'name': 'Margaret Mccoy',
  'email': 'kathy84@example.net',
  'phone': ['(926)614-6532x7747', '(597)509-0033', '863.615.4098x3859'],
  'orders': [{'productid': 9,
    'units': 377528,
    'purchase_date': datetime.datetime(2023, 11, 30, 0, 0)},
   {'productid': 6,
    'units': 440201,
    'purchase_date': datetime.datetime(2023, 5, 29, 0, 0)}]}]

In [21]:
# Insert customers into MongoDB
db.customers.insert_many(customers)

InsertManyResult([ObjectId('65a1ce664de10d2f8cecb3dc'), ObjectId('65a1ce664de10d2f8cecb3dd'), ObjectId('65a1ce664de10d2f8cecb3de'), ObjectId('65a1ce664de10d2f8cecb3df'), ObjectId('65a1ce664de10d2f8cecb3e0'), ObjectId('65a1ce664de10d2f8cecb3e1'), ObjectId('65a1ce664de10d2f8cecb3e2'), ObjectId('65a1ce664de10d2f8cecb3e3'), ObjectId('65a1ce664de10d2f8cecb3e4'), ObjectId('65a1ce664de10d2f8cecb3e5'), ObjectId('65a1ce664de10d2f8cecb3e6'), ObjectId('65a1ce664de10d2f8cecb3e7'), ObjectId('65a1ce664de10d2f8cecb3e8'), ObjectId('65a1ce664de10d2f8cecb3e9'), ObjectId('65a1ce664de10d2f8cecb3ea'), ObjectId('65a1ce664de10d2f8cecb3eb'), ObjectId('65a1ce664de10d2f8cecb3ec'), ObjectId('65a1ce664de10d2f8cecb3ed'), ObjectId('65a1ce664de10d2f8cecb3ee'), ObjectId('65a1ce664de10d2f8cecb3ef'), ObjectId('65a1ce664de10d2f8cecb3f0'), ObjectId('65a1ce664de10d2f8cecb3f1'), ObjectId('65a1ce664de10d2f8cecb3f2'), ObjectId('65a1ce664de10d2f8cecb3f3'), ObjectId('65a1ce664de10d2f8cecb3f4'), ObjectId('65a1ce664de10d2f8cecb3f5'), ObjectId('65a1ce664de10d2f8cecb3f6'), ObjectId('65a1ce664de10d2f8cecb3f7'), ObjectId('65a1ce664de10d2f8cecb3f8'), ObjectId('65a1ce664de10d2f8cecb3f9'), ObjectId('65a1ce664de10d2f8cecb3fa'), ObjectId('65a1ce664de10d2f8cecb3fb'), ObjectId('65a1ce664de10d2f8cecb3fc'), ObjectId('65a1ce664de10d2f8cecb3fd'), ObjectId('65a1ce664de10d2f8cecb3fe'), ObjectId('65a1ce664de10d2f8cecb3ff'), ObjectId('65a1ce664de10d2f8cecb400'), ObjectId('65a1ce664de10d2f8cecb401'), ObjectId('65a1ce664de10d2f8cecb402'), ObjectId('65a1ce664de10d2f8cecb403'), ObjectId('65a1ce664de10d2f8cecb404'), ObjectId('65a1ce664de10d2f8cecb405'), ObjectId('65a1ce664de10d2f8cecb406'), ObjectId('65a1ce664de10d2f8cecb407'), ObjectId('65a1ce664de10d2f8cecb408'), ObjectId('65a1ce664de10d2f8cecb409'), ObjectId('65a1ce664de10d2f8cecb40a'), ObjectId('65a1ce664de10d2f8cecb40b'), ObjectId('65a1ce664de10d2f8cecb40c'), ObjectId('65a1ce664de10d2f8cecb40d'), ObjectId('65a1ce664de10d2f8cecb40e'), ObjectId('65a1ce664de10d2f8cecb40f'), ObjectId('65a1ce664de10d2f8cecb410'), ObjectId('65a1ce664de10d2f8cecb411'), ObjectId('65a1ce664de10d2f8cecb412'), ObjectId('65a1ce664de10d2f8cecb413'), ObjectId('65a1ce664de10d2f8cecb414'), ObjectId('65a1ce664de10d2f8cecb415'), ObjectId('65a1ce664de10d2f8cecb416'), ObjectId('65a1ce664de10d2f8cecb417'), ObjectId('65a1ce664de10d2f8cecb418'), ObjectId('65a1ce664de10d2f8cecb419'), ObjectId('65a1ce664de10d2f8cecb41a'), ObjectId('65a1ce664de10d2f8cecb41b'), ObjectId('65a1ce664de10d2f8cecb41c'), ObjectId('65a1ce664de10d2f8cecb41d'), ObjectId('65a1ce664de10d2f8cecb41e'), ObjectId('65a1ce664de10d2f8cecb41f'), ObjectId('65a1ce664de10d2f8cecb420'), ObjectId('65a1ce664de10d2f8cecb421'), ObjectId('65a1ce664de10d2f8cecb422'), ObjectId('65a1ce664de10d2f8cecb423'), ObjectId('65a1ce664de10d2f8cecb424'), ObjectId('65a1ce664de10d2f8cecb425'), ObjectId('65a1ce664de10d2f8cecb426'), ObjectId('65a1ce664de10d2f8cecb427'), ObjectId('65a1ce664de10d2f8cecb428'), ObjectId('65a1ce664de10d2f8cecb429'), ObjectId('65a1ce664de10d2f8cecb42a'), ObjectId('65a1ce664de10d2f8cecb42b'), ObjectId('65a1ce664de10d2f8cecb42c'), ObjectId('65a1ce664de10d2f8cecb42d'), ObjectId('65a1ce664de10d2f8cecb42e'), ObjectId('65a1ce664de10d2f8cecb42f'), ObjectId('65a1ce664de10d2f8cecb430'), ObjectId('65a1ce664de10d2f8cecb431'), ObjectId('65a1ce664de10d2f8cecb432'), ObjectId('65a1ce664de10d2f8cecb433'), ObjectId('65a1ce664de10d2f8cecb434'), ObjectId('65a1ce664de10d2f8cecb435'), ObjectId('65a1ce664de10d2f8cecb436'), ObjectId('65a1ce664de10d2f8cecb437'), ObjectId('65a1ce664de10d2f8cecb438'), ObjectId('65a1ce664de10d2f8cecb439'), ObjectId('65a1ce664de10d2f8cecb43a'), ObjectId('65a1ce664de10d2f8cecb43b'), ObjectId('65a1ce664de10d2f8cecb43c'), ObjectId('65a1ce664de10d2f8cecb43d'), ObjectId('65a1ce664de10d2f8cecb43e'), ObjectId('65a1ce664de10d2f8cecb43f')], acknowledged=True)

## create products data

In [22]:
# Generate products
products = []
for i in range(10):
    product = {
        'productid': i+1,
        'category': random.choice(['Electronics', 'Clothing', 'Books', 'Home']),
        'price': random.randint(1, 100)
    }
    products.append(product)

In [23]:
# Insert products into MongoDB
db.products.insert_many(products)

InsertManyResult([ObjectId('65a1ce6a4de10d2f8cecb440'), ObjectId('65a1ce6a4de10d2f8cecb441'), ObjectId('65a1ce6a4de10d2f8cecb442'), ObjectId('65a1ce6a4de10d2f8cecb443'), ObjectId('65a1ce6a4de10d2f8cecb444'), ObjectId('65a1ce6a4de10d2f8cecb445'), ObjectId('65a1ce6a4de10d2f8cecb446'), ObjectId('65a1ce6a4de10d2f8cecb447'), ObjectId('65a1ce6a4de10d2f8cecb448'), ObjectId('65a1ce6a4de10d2f8cecb449')], acknowledged=True)

In [24]:
db.list_collection_names() # list collections

['products', 'customers']

loop through collections and count the number of documents

In [25]:
for collection_name in db.list_collection_names():
  collection = db.get_collection(collection_name)
  print(f'{collection_name}:{collection.count_documents({})}')

products:10
customers:100

# Querying

## Customers

Find all customers.

In [26]:
for document in db.customers.find({}):
  print(document)

{'_id': ObjectId('65a1ce664de10d2f8cecb3dc'), 'customerid': 1, 'name': 'Rhonda Fox', 'email': 'megangarcia@example.net', 'phone': ['898-529-5735x4517', '432-289-0539x82060', '225.976.0238x3825'], 'orders': [{'productid': 4, 'units': 409452, 'purchase_date': datetime.datetime(2023, 12, 19, 0, 0)}, {'productid': 10, 'units': 11528, 'purchase_date': datetime.datetime(2023, 10, 22, 0, 0)}]}
{'_id': ObjectId('65a1ce664de10d2f8cecb3dd'), 'customerid': 2, 'name': 'Jill Moore', 'email': 'tammy52@example.org', 'phone': ['309.224.5458', '918-741-9946x793', '4567089928'], 'orders': [{'productid': 3, 'units': 521791000, 'purchase_date': datetime.datetime(2023, 8, 11, 0, 0)}]}
{'_id': ObjectId('65a1ce664de10d2f8cecb3de'), 'customerid': 3, 'name': 'Margaret Mccoy', 'email': 'kathy84@example.net', 'phone': ['(926)614-6532x7747', '(597)509-0033', '863.615.4098x3859'], 'orders': [{'productid': 9, 'units': 377528, 'purchase_date': datetime.datetime(2023, 11, 30, 0, 0)}, {'productid': 6, 'units': 440201, 'purchase_date': datetime.datetime(2023, 5, 29, 0, 0)}]}
{'_id': ObjectId('65a1ce664de10d2f8cecb3df'), 'customerid': 4, 'name': 'Jordan Miller', 'email': 'leahdavis@example.com', 'phone': ['+1-631-634-4223x41614', '4113749650', '001-756-691-1886x966'], 'orders': [{'productid': 9, 'units': 127361, 'purchase_date': datetime.datetime(2023, 5, 29, 0, 0)}, {'productid': 5, 'units': 285187, 'purchase_date': datetime.datetime(2023, 9, 9, 0, 0)}, {'productid': 5, 'units': 600035, 'purchase_date': datetime.datetime(2023, 11, 3, 0, 0)}]}
{'_id': ObjectId('65a1ce664de10d2f8cecb3e0'), 'customerid': 5, 'name': 'Ryan Flores', 'email': 'neil13@example.com', 'phone': ['401.366.0477', '467.211.4804x9941', '+1-712-423-6618x7212'], 'orders': []}
{'_id': ObjectId('65a1ce664de10d2f8cecb3e1'), 'customerid': 6, 'name': 'Blake Johnson', 'email': 'leonard08@example.com', 'phone': ['(739)801-3267', '258.710.9197x601', '001-768-648-8306x55901'], 'orders': [{'productid': 4, 'units': 207800, 'purchase_date': datetime.datetime(2023, 4, 26, 0, 0)}, {'productid': 6, 'units': 429340, 'purchase_date': datetime.datetime(2023, 1, 14, 0, 0)}, {'productid': 2, 'units': 372743, 'purchase_date': datetime.datetime(2023, 3, 25, 0, 0)}, {'productid': 5, 'units': 781216, 'purchase_date': datetime.datetime(2023, 12, 18, 0, 0)}]}
{'_id': ObjectId('65a1ce664de10d2f8cecb3e2'), 'customerid': 7, 'name': 'Dustin Barnes', 'email': 'vdavidson@example.com', 'phone': ['856.613.5882', '7157780893', '466-433-7290x51295'], 'orders': [{'productid': 4, 'units': 217438, 'purchase_date': datetime.datetime(2024, 1, 11, 0, 0)}, {'productid': 7, 'units': 293000, 'purchase_date': datetime.datetime(2023, 11, 10, 0, 0)}]}
{'_id': ObjectId('65a1ce664de10d2f8cecb3e3'), 'customerid': 8, 'name': 'James Kim', 'email': 'dannyjohnson@example.org', 'phone': ['001-487-491-5197x35093', '880-263-7247x84549', '(810)424-5384x107'], 'orders': [{'productid': 4, 'units': 716777, 'purchase_date': datetime.datetime(2023, 8, 16, 0, 0)}]}
{'_id': ObjectId('65a1ce664de10d2f8cecb3e4'), 'customerid': 9, 'name': 'Jason Carrillo', 'email': 'rcannon@example.com', 'phone': ['+1-916-295-6896x304', '971-969-9860x72956', '(806)886-7050'], 'orders': []}
{'_id': ObjectId('65a1ce664de10d2f8cecb3e5'), 'customerid': 10, 'name': 'Rhonda Dyer', 'email': 'browngerald@example.com', 'phone': ['(505)931-0589x88873', '740-826-9581', '9714241334'], 'orders': []}
{'_id': ObjectId('65a1ce664de10d2f8cecb3e6'), 'customerid': 11, 'name': 'Joseph Lamb', 'email': 'harriscandice@example.net', 'phone': ['001-254-501-5638x235', '875-665-6973x918', '+1-990-251-1952'], 'orders': [{'productid': 10, 'units': 507440, 'purchase_date': datetime.datetime(2023, 9, 3, 0, 0)}]}
{'_id': ObjectId('65a1ce664de10d2f8cecb3e7'), 'customerid': 12, 'name': 'Kristy Bradley', 'email': 'stacey28@example.org', 'phone': ['899-522-4316x993', '001-395-942-4100x275', '926-607-9852'], 'orders': [{'productid': 8, 'units': 95600, 'purchase_date': datetime.datetime(2023, 7, 6, 0, 0)}, {'productid': 5, 'units': 803295, 'purchase_date': datetime.datetime(2023, 12, 30, 0, 0)}, {'productid': 8, 'units': 699919, 'purchase_date': datetime.datetime(2023, 1, 14, 0, 0)}]}
{'_id': ObjectId('65a1ce664de10d2f8cecb3e8'), 'customerid': 13, 'name': 'Spencer Olson Jr.', 'email': 'bjimenez@example.net', 'phone': ['605.299.9230x2217', '001-600-205-5387x11760', '(663)789-8026x406'], 'orders': [{'productid': 7, 'units': 493457, 'purchase_date': datetime.datetime(2023, 11, 14, 0, 0)}, {'productid': 5, 'units': 347267000, 'purchase_date': datetime.datetime(2023, 7, 7, 0, 0)}]}
{'_id': ObjectId('65a1ce664de10d2f8cecb3e9'), 'customerid': 14, 'name': 'Shawn Fisher', 'email': 'hernandezbrandon@example.org', 'phone': ['3956241087', '556-510-3231x15580', '647-326-7087'], 'orders': [{'productid': 10, 'units': 832751000, 'purchase_date': datetime.datetime(2023, 12, 31, 0, 0)}, {'productid': 5, 'units': 467953, 'purchase_date': datetime.datetime(2023, 5, 22, 0, 0)}, {'productid': 8, 'units': 929137, 'purchase_date': datetime.datetime(2023, 7, 8, 0, 0)}]}
{'_id': ObjectId('65a1ce664de10d2f8cecb3ea'), 'customerid': 15, 'name': 'Sharon Obrien', 'email': 'gregory42@example.net', 'phone': ['456-697-2440x4261', '862.651.5283x1174', '001-427-264-5058'], 'orders': [{'productid': 8, 'units': 847771, 'purchase_date': datetime.datetime(2023, 7, 3, 0, 0)}, {'productid': 1, 'units': 848835, 'purchase_date': datetime.datetime(2023, 2, 10, 0, 0)}, {'productid': 2, 'units': 516620, 'purchase_date': datetime.datetime(2023, 4, 9, 0, 0)}]}
{'_id': ObjectId('65a1ce664de10d2f8cecb3eb'), 'customerid': 16, 'name': 'Cody Henderson', 'email': 'gregoryblackwell@example.net', 'phone': ['(872)801-7664x2583', '951-921-5610', '(624)616-2221'], 'orders': [{'productid': 10, 'units': 843791, 'purchase_date': datetime.datetime(2023, 4, 5, 0, 0)}, {'productid': 7, 'units': 698559, 'purchase_date': datetime.datetime(2023, 8, 20, 0, 0)}, {'productid': 7, 'units': 889756, 'purchase_date': datetime.datetime(2023, 7, 11, 0, 0)}]}
{'_id': ObjectId('65a1ce664de10d2f8cecb3ec'), 'customerid': 17, 'name': 'Charles Wright', 'email': 'xjones@example.org', 'phone': ['(640)575-9457x50698', '920.703.9981', '(237)629-4748x5198'], 'orders': [{'productid': 9, 'units': 804158000, 'purchase_date': datetime.datetime(2023, 8, 5, 0, 0)}, {'productid': 9, 'units': 719333, 'purchase_date': datetime.datetime(2023, 6, 26, 0, 0)}, {'productid': 9, 'units': 109165, 'purchase_date': datetime.datetime(2023, 10, 8, 0, 0)}]}
{'_id': ObjectId('65a1ce664de10d2f8cecb3ed'), 'customerid': 18, 'name': 'Jack Pham', 'email': 'amueller@example.org', 'phone': ['733.744.8955', '816-412-6604x748', '811-944-2669x236'], 'orders': []}
{'_id': ObjectId('65a1ce664de10d2f8cecb3ee'), 'customerid': 19, 'name': 'Tabitha Wilson', 'email': 'jeremygonzalez@example.org', 'phone': ['(273)976-2858', '+1-352-756-6179x48491', '500.582.7899x761'], 'orders': []}
{'_id': ObjectId('65a1ce664de10d2f8cecb3ef'), 'customerid': 20, 'name': 'Terry Lee', 'email': 'danielmartin@example.org', 'phone': ['403-645-3176', '716-295-2489', '+1-433-562-3827x88773'], 'orders': [{'productid': 4, 'units': 415836, 'purchase_date': datetime.datetime(2023, 7, 26, 0, 0)}, {'productid': 2, 'units': 537610, 'purchase_date': datetime.datetime(2023, 11, 23, 0, 0)}]}
{'_id': ObjectId('65a1ce664de10d2f8cecb3f0'), 'customerid': 21, 'name': 'Jamie Jackson', 'email': 'cnelson@example.net', 'phone': ['3756105405', '(854)805-4528', '001-845-738-4550x65615'], 'orders': []}
{'_id': ObjectId('65a1ce664de10d2f8cecb3f1'), 'customerid': 22, 'name': 'Jenna Warner', 'email': 'lthompson@example.com', 'phone': ['001-919-814-1725x314', '(751)948-1405x246', '340-203-9736x8302'], 'orders': [{'productid': 1, 'units': 498466, 'purchase_date': datetime.datetime(2023, 8, 6, 0, 0)}]}
{'_id': ObjectId('65a1ce664de10d2f8cecb3f2'), 'customerid': 23, 'name': 'Christopher Patel', 'email': 'stephen70@example.net', 'phone': ['379-791-2891', '+1-392-931-2871x6320', '891-405-0573x154'], 'orders': [{'productid': 9, 'units': 70346, 'purchase_date': datetime.datetime(2023, 3, 11, 0, 0)}, {'productid': 6, 'units': 218357, 'purchase_date': datetime.datetime(2023, 11, 12, 0, 0)}, {'productid': 4, 'units': 952731, 'purchase_date': datetime.datetime(2023, 5, 1, 0, 0)}, {'productid': 7, 'units': 604032000, 'purchase_date': datetime.datetime(2023, 8, 16, 0, 0)}]}
{'_id': ObjectId('65a1ce664de10d2f8cecb3f3'), 'customerid': 24, 'name': 'Jennifer Martin', 'email': 'frankmark@example.net', 'phone': ['(799)830-4308x505', '+1-500-536-9762', '803.705.7721x300'], 'orders': [{'productid': 2, 'units': 432465, 'purchase_date': datetime.datetime(2023, 5, 29, 0, 0)}, {'productid': 7, 'units': 299439, 'purchase_date': datetime.datetime(2023, 7, 24, 0, 0)}, {'productid': 8, 'units': 766140, 'purchase_date': datetime.datetime(2023, 11, 6, 0, 0)}, {'productid': 9, 'units': 528126000, 'purchase_date': datetime.datetime(2023, 4, 22, 0, 0)}]}
{'_id': ObjectId('65a1ce664de10d2f8cecb3f4'), 'customerid': 25, 'name': 'Donna Myers', 'email': 'michael22@example.org', 'phone': ['(394)646-6439x4218', '001-347-675-9117', '(652)522-0091x5198'], 'orders': [{'productid': 9, 'units': 436562, 'purchase_date': datetime.datetime(2023, 1, 15, 0, 0)}, {'productid': 6, 'units': 710133000, 'purchase_date': datetime.datetime(2023, 3, 5, 0, 0)}]}
{'_id': ObjectId('65a1ce664de10d2f8cecb3f5'), 'customerid': 26, 'name': 'Jessica Johnson', 'email': 'khickman@example.org', 'phone': ['001-801-216-1825', '2546016040', '001-905-405-1722x891'], 'orders': []}
{'_id': ObjectId('65a1ce664de10d2f8cecb3f6'), 'customerid': 27, 'name': 'Alexander Tucker', 'email': 'emilyflynn@example.com', 'phone': ['358.916.8115x7179', '001-376-205-1530x204', '+1-396-446-1951x188'], 'orders': [{'productid': 9, 'units': 10298, 'purchase_date': datetime.datetime(2023, 9, 30, 0, 0)}, {'productid': 2, 'units': 379573, 'purchase_date': datetime.datetime(2023, 5, 16, 0, 0)}, {'productid': 8, 'units': 752509, 'purchase_date': datetime.datetime(2023, 3, 8, 0, 0)}, {'productid': 7, 'units': 104020000, 'purchase_date': datetime.datetime(2023, 5, 13, 0, 0)}]}
{'_id': ObjectId('65a1ce664de10d2f8cecb3f7'), 'customerid': 28, 'name': 'Travis Alexander', 'email': 'shane93@example.net', 'phone': ['+1-437-684-7127x1721', '(236)868-2162x23624', '+1-210-431-3207x326'], 'orders': []}
{'_id': ObjectId('65a1ce664de10d2f8cecb3f8'), 'customerid': 29, 'name': 'Amber Mcdonald', 'email': 'amitchell@example.com', 'phone': ['2965525731', '882.540.6431', '787-463-2832'], 'orders': [{'productid': 1, 'units': 633280, 'purchase_date': datetime.datetime(2023, 9, 25, 0, 0)}, {'productid': 10, 'units': 751244, 'purchase_date': datetime.datetime(2023, 3, 5, 0, 0)}, {'productid': 6, 'units': 478368, 'purchase_date': datetime.datetime(2023, 8, 11, 0, 0)}, {'productid': 6, 'units': 921475, 'purchase_date': datetime.datetime(2023, 1, 19, 0, 0)}]}
{'_id': ObjectId('65a1ce664de10d2f8cecb3f9'), 'customerid': 30, 'name': 'Walter Carter', 'email': 'kevinphillips@example.org', 'phone': ['(414)374-0969', '+1-475-638-3269', '(357)756-3395x882'], 'orders': [{'productid': 5, 'units': 261068, 'purchase_date': datetime.datetime(2023, 3, 5, 0, 0)}, {'productid': 2, 'units': 99524, 'purchase_date': datetime.datetime(2023, 8, 17, 0, 0)}, {'productid': 4, 'units': 492509, 'purchase_date': datetime.datetime(2023, 5, 1, 0, 0)}]}
{'_id': ObjectId('65a1ce664de10d2f8cecb3fa'), 'customerid': 31, 'name': 'Steven Hurst', 'email': 'mhuber@example.com', 'phone': ['587.599.2308x47909', '(959)566-4400x4237', '(606)573-2250'], 'orders': []}
{'_id': ObjectId('65a1ce664de10d2f8cecb3fb'), 'customerid': 32, 'name': 'Kimberly Garrison', 'email': 'bpittman@example.net', 'phone': ['(651)455-4338', '273.826.0245x81158', '(945)853-8606x22093'], 'orders': [{'productid': 2, 'units': 246672000, 'purchase_date': datetime.datetime(2023, 3, 6, 0, 0)}]}
{'_id': ObjectId('65a1ce664de10d2f8cecb3fc'), 'customerid': 33, 'name': 'Selena Boyd', 'email': 'keithrachel@example.org', 'phone': ['001-648-818-5166x390', '533-458-2893', '875-770-0352x475'], 'orders': [{'productid': 5, 'units': 161737, 'purchase_date': datetime.datetime(2023, 2, 9, 0, 0)}, {'productid': 8, 'units': 164288, 'purchase_date': datetime.datetime(2023, 7, 27, 0, 0)}, {'productid': 7, 'units': 965933, 'purchase_date': datetime.datetime(2023, 4, 6, 0, 0)}]}
{'_id': ObjectId('65a1ce664de10d2f8cecb3fd'), 'customerid': 34, 'name': 'Jacqueline Wiley', 'email': 'stacyphillips@example.org', 'phone': ['907.977.7824', '(682)389-0848x5031', '829.307.2612'], 'orders': []}
{'_id': ObjectId('65a1ce664de10d2f8cecb3fe'), 'customerid': 35, 'name': 'Ruth Barr', 'email': 'brandiruiz@example.com', 'phone': ['(818)301-6417x35944', '(947)496-2490x1760', '001-789-574-3366x16569'], 'orders': [{'productid': 10, 'units': 519410, 'purchase_date': datetime.datetime(2023, 5, 21, 0, 0)}, {'productid': 5, 'units': 247587, 'purchase_date': datetime.datetime(2023, 10, 19, 0, 0)}, {'productid': 2, 'units': 366275, 'purchase_date': datetime.datetime(2023, 4, 6, 0, 0)}]}
{'_id': ObjectId('65a1ce664de10d2f8cecb3ff'), 'customerid': 36, 'name': 'Christopher Guzman', 'email': 'jamessabrina@example.net', 'phone': ['219-578-0580x062', '214-773-9592x5453', '(666)689-2162'], 'orders': [{'productid': 4, 'units': 156964, 'purchase_date': datetime.datetime(2024, 1, 3, 0, 0)}, {'productid': 2, 'units': 856816, 'purchase_date': datetime.datetime(2024, 1, 11, 0, 0)}, {'productid': 5, 'units': 713317, 'purchase_date': datetime.datetime(2023, 10, 15, 0, 0)}, {'productid': 9, 'units': 116449, 'purchase_date': datetime.datetime(2023, 9, 17, 0, 0)}]}
{'_id': ObjectId('65a1ce664de10d2f8cecb400'), 'customerid': 37, 'name': 'Bryce Crawford', 'email': 'joanna95@example.com', 'phone': ['214-681-4296x61300', '001-518-638-8952', '(312)229-2079x363'], 'orders': [{'productid': 2, 'units': 52350, 'purchase_date': datetime.datetime(2023, 5, 29, 0, 0)}]}
{'_id': ObjectId('65a1ce664de10d2f8cecb401'), 'customerid': 38, 'name': 'Kellie Sanders', 'email': 'thompsoncorey@example.org', 'phone': ['+1-305-431-5871x0627', '548-251-9454', '548.432.3078'], 'orders': []}
{'_id': ObjectId('65a1ce664de10d2f8cecb402'), 'customerid': 39, 'name': 'Raymond Dawson', 'email': 'samantharobinson@example.net', 'phone': ['2392125447', '745-412-4738', '5879745920'], 'orders': [{'productid': 2, 'units': 858467, 'purchase_date': datetime.datetime(2023, 2, 22, 0, 0)}, {'productid': 5, 'units': 42041, 'purchase_date': datetime.datetime(2023, 5, 31, 0, 0)}, {'productid': 3, 'units': 217538000, 'purchase_date': datetime.datetime(2023, 4, 1, 0, 0)}, {'productid': 9, 'units': 283846, 'purchase_date': datetime.datetime(2023, 7, 26, 0, 0)}]}
{'_id': ObjectId('65a1ce664de10d2f8cecb403'), 'customerid': 40, 'name': 'Christopher Harris', 'email': 'jdiaz@example.com', 'phone': ['725-722-4556x965', '294-868-2092x77941', '679-530-2254x3948'], 'orders': [{'productid': 3, 'units': 458405, 'purchase_date': datetime.datetime(2023, 11, 9, 0, 0)}, {'productid': 8, 'units': 500163, 'purchase_date': datetime.datetime(2023, 2, 27, 0, 0)}, {'productid': 7, 'units': 20450, 'purchase_date': datetime.datetime(2023, 12, 15, 0, 0)}]}
{'_id': ObjectId('65a1ce664de10d2f8cecb404'), 'customerid': 41, 'name': 'Jonathan Tran', 'email': 'richardchristensen@example.com', 'phone': ['+1-485-921-7061x9199', '001-918-799-7814x01721', '(511)516-1840x35385'], 'orders': []}
{'_id': ObjectId('65a1ce664de10d2f8cecb405'), 'customerid': 42, 'name': 'Kristen Cohen', 'email': 'hintonwayne@example.net', 'phone': ['+1-227-991-3616x965', '+1-539-992-2513x72053', '001-503-728-5409x24069'], 'orders': []}
{'_id': ObjectId('65a1ce664de10d2f8cecb406'), 'customerid': 43, 'name': 'Julie Pierce', 'email': 'dianascott@example.net', 'phone': ['+1-967-498-3208x8627', '633-814-6266', '+1-483-941-0565x5037'], 'orders': [{'productid': 1, 'units': 719038, 'purchase_date': datetime.datetime(2024, 1, 6, 0, 0)}]}
{'_id': ObjectId('65a1ce664de10d2f8cecb407'), 'customerid': 44, 'name': 'Kelsey King', 'email': 'jessica93@example.org', 'phone': ['6756406320', '457-477-2656x410', '+1-419-422-1131x8162'], 'orders': [{'productid': 5, 'units': 887710, 'purchase_date': datetime.datetime(2023, 9, 17, 0, 0)}, {'productid': 9, 'units': 433680, 'purchase_date': datetime.datetime(2023, 7, 12, 0, 0)}, {'productid': 4, 'units': 351641, 'purchase_date': datetime.datetime(2023, 3, 31, 0, 0)}, {'productid': 4, 'units': 862758, 'purchase_date': datetime.datetime(2023, 5, 3, 0, 0)}]}
{'_id': ObjectId('65a1ce664de10d2f8cecb408'), 'customerid': 45, 'name': 'Nicholas Jones', 'email': 'sandrarobbins@example.org', 'phone': ['+1-664-914-5604x653', '(889)281-7136x99098', '4363557067'], 'orders': []}
{'_id': ObjectId('65a1ce664de10d2f8cecb409'), 'customerid': 46, 'name': 'Kristina Campbell', 'email': 'ryanclark@example.net', 'phone': ['990.369.1036', '332.509.4831x77467', '863-414-5369x411'], 'orders': [{'productid': 2, 'units': 286153, 'purchase_date': datetime.datetime(2023, 10, 30, 0, 0)}]}
{'_id': ObjectId('65a1ce664de10d2f8cecb40a'), 'customerid': 47, 'name': 'Micheal Garcia', 'email': 'fernando67@example.net', 'phone': ['7625336150', '001-764-312-9041x5254', '829-210-7521x757'], 'orders': []}
{'_id': ObjectId('65a1ce664de10d2f8cecb40b'), 'customerid': 48, 'name': 'Daniel Butler', 'email': 'andersonalexis@example.net', 'phone': ['598.283.1177x4046', '966.213.3163x364', '439.501.3705'], 'orders': [{'productid': 6, 'units': 278781000, 'purchase_date': datetime.datetime(2023, 6, 29, 0, 0)}]}
{'_id': ObjectId('65a1ce664de10d2f8cecb40c'), 'customerid': 49, 'name': 'Kevin Mcgee', 'email': 'tmccarty@example.com', 'phone': ['225-949-3102', '793.220.2082x04662', '8073623935'], 'orders': [{'productid': 8, 'units': 260387, 'purchase_date': datetime.datetime(2023, 8, 7, 0, 0)}, {'productid': 4, 'units': 203765, 'purchase_date': datetime.datetime(2023, 4, 18, 0, 0)}, {'productid': 4, 'units': 524655, 'purchase_date': datetime.datetime(2023, 6, 29, 0, 0)}]}
{'_id': ObjectId('65a1ce664de10d2f8cecb40d'), 'customerid': 50, 'name': 'Mary Berry', 'email': 'usmith@example.org', 'phone': ['001-613-496-6552', '(329)390-4747', '(900)491-6155x762'], 'orders': [{'productid': 3, 'units': 416958, 'purchase_date': datetime.datetime(2023, 3, 31, 0, 0)}]}
{'_id': ObjectId('65a1ce664de10d2f8cecb40e'), 'customerid': 51, 'name': 'Antonio Mcclure', 'email': 'goodmanbianca@example.net', 'phone': ['001-643-830-3743x1283', '398.565.2399x808', '+1-963-677-4875x91545'], 'orders': [{'productid': 10, 'units': 400389, 'purchase_date': datetime.datetime(2023, 12, 6, 0, 0)}, {'productid': 4, 'units': 890760, 'purchase_date': datetime.datetime(2023, 4, 14, 0, 0)}, {'productid': 4, 'units': 67809, 'purchase_date': datetime.datetime(2023, 12, 9, 0, 0)}, {'productid': 1, 'units': 768389, 'purchase_date': datetime.datetime(2023, 6, 12, 0, 0)}]}
{'_id': ObjectId('65a1ce664de10d2f8cecb40f'), 'customerid': 52, 'name': 'Matthew Bennett', 'email': 'emartin@example.org', 'phone': ['001-944-922-8723', '+1-807-220-1705x21833', '001-412-375-8417x0149'], 'orders': [{'productid': 3, 'units': 68212, 'purchase_date': datetime.datetime(2023, 9, 16, 0, 0)}]}
{'_id': ObjectId('65a1ce664de10d2f8cecb410'), 'customerid': 53, 'name': 'Stefanie Roberts', 'email': 'justin38@example.net', 'phone': ['528-867-7113', '001-495-460-3584x590', '001-585-299-6903x2744'], 'orders': [{'productid': 8, 'units': 207932, 'purchase_date': datetime.datetime(2023, 8, 24, 0, 0)}, {'productid': 7, 'units': 797551, 'purchase_date': datetime.datetime(2023, 8, 27, 0, 0)}]}
{'_id': ObjectId('65a1ce664de10d2f8cecb411'), 'customerid': 54, 'name': 'Gregory Castro', 'email': 'jessicadiaz@example.org', 'phone': ['268-723-8310x790', '956-525-0498x7256', '(510)692-8914x50583'], 'orders': [{'productid': 5, 'units': 500784, 'purchase_date': datetime.datetime(2023, 2, 21, 0, 0)}]}

find customerid 76

In [29]:
import pprint

In [30]:
for document in db.customers.find({'customerid':76}):
  print(pprint.pprint(document))

{'_id': ObjectId('65a1ccab1449f39f493c53ae'),
 'customerid': 76,
 'email': 'wayne36@example.net',
 'name': 'Marcus Gomez',
 'orders': [{'productid': 7,
             'purchase_date': datetime.datetime(2023, 12, 27, 0, 0),
             'units': 151589},
            {'productid': 8,
             'purchase_date': datetime.datetime(2023, 4, 20, 0, 0),
             'units': 752215}],
 'phone': ['001-833-547-7166x7413', '(298)987-2856x14677', '734.689.9357']}
None

## Products

find all products

In [31]:
for document in db.products.find({}):
  print(document)

{'_id': ObjectId('65a1ccb11449f39f493c53c7'), 'productid': 1, 'category': 'Electronics', 'price': 69}
{'_id': ObjectId('65a1ccb11449f39f493c53c8'), 'productid': 2, 'category': 'Clothing', 'price': 39}
{'_id': ObjectId('65a1ccb11449f39f493c53c9'), 'productid': 3, 'category': 'Home', 'price': 2}
{'_id': ObjectId('65a1ccb11449f39f493c53ca'), 'productid': 4, 'category': 'Clothing', 'price': 81}
{'_id': ObjectId('65a1ccb11449f39f493c53cb'), 'productid': 5, 'category': 'Clothing', 'price': 58}
{'_id': ObjectId('65a1ccb11449f39f493c53cc'), 'productid': 6, 'category': 'Electronics', 'price': 12}
{'_id': ObjectId('65a1ccb11449f39f493c53cd'), 'productid': 7, 'category': 'Books', 'price': 15}
{'_id': ObjectId('65a1ccb11449f39f493c53ce'), 'productid': 8, 'category': 'Clothing', 'price': 92}
{'_id': ObjectId('65a1ccb11449f39f493c53cf'), 'productid': 9, 'category': 'Books', 'price': 80}
{'_id': ObjectId('65a1ccb11449f39f493c53d0'), 'productid': 10, 'category': 'Clothing', 'price': 15}

find all products with prices less than 40

In [ ]:
for document in db.products.find({'price': {'$lt':40}}):
  print(document)

{'_id': ObjectId('646fad92f2e8345bc9a7dea6'), 'productid': 5, 'category': 'Clothing', 'price': 1}

find all products with category clothing

In [ ]:
for document in db.products.find({'category': 'Clothing'}):
  print(document)

{'_id': ObjectId('646fad92f2e8345bc9a7dea2'), 'productid': 1, 'category': 'Clothing', 'price': 51}
{'_id': ObjectId('646fad92f2e8345bc9a7dea3'), 'productid': 2, 'category': 'Clothing', 'price': 90}
{'_id': ObjectId('646fad92f2e8345bc9a7dea6'), 'productid': 5, 'category': 'Clothing', 'price': 1}
{'_id': ObjectId('646fad92f2e8345bc9a7dea8'), 'productid': 7, 'category': 'Clothing', 'price': 65}
{'_id': ObjectId('646fad92f2e8345bc9a7deab'), 'productid': 10, 'category': 'Clothing', 'price': 57}

find all products with price less than 40 AND category Clothing

In [34]:
for document in db.products.find({'price': {'$lt':40},'category': 'Clothing'}):
  print(document)

{'_id': ObjectId('65a1ccb11449f39f493c53c8'), 'productid': 2, 'category': 'Clothing', 'price': 39}
{'_id': ObjectId('65a1ccb11449f39f493c53d0'), 'productid': 10, 'category': 'Clothing', 'price': 15}

## Orders

In [ ]:
# Calculate the total number of orders
pipeline = [
    {
        '$unwind': '$orders'
    },
    {
        '$group': {
            '_id': None,
            'total_orders': {'$sum': 1}
        }
    },
    {
        '$project': {
            '_id': 0,
            'total_orders': 1
        }
    }
]

result = db.customers.aggregate(pipeline)

# Extract the total number of orders
total_orders = next(result)['total_orders']

# Print the total number of orders
print(f"Total Orders: {total_orders}")

Total Orders: 182

In [ ]:
filter_criteria = {
    'orders.units': {'$lt': 45000}
}

# Calculate the total number of orders with units less than 12000
pipeline = [
    {
      '$unwind': '$orders'
    },
    {
      '$match': filter_criteria
    },
    {
        '$group': {
            '_id': None,
            'total_orders': {'$sum': 1}
        }
    },
    {
        '$project': {
            '_id': 0,
            'total_orders': 1
        }
    }
]

result = db.customers.aggregate(pipeline)

# Extract the total number of orders
total_orders = next(result)['total_orders']

# Print the total number of orders
print(f"Total Orders: {total_orders}")

Total Orders: 7

# Extraction

## Dump mongodb data to json file.

create a JSON file with the filtered data.

In [ ]:
from bson.json_util import dumps
import json

open a file. create a cursor that gets passed to dumps which takes binary json data and converts it serialized json, deseralizes it to python object and then serializes it back to a file.

## dump orders

## dump customers

(and orders as they are nested)

In [ ]:
with open('customers.json', 'w') as file:
  cursor = db.customers.find({})
  file.write(dumps(cursor))

## dump products

In [ ]:
with open('products.json', 'w') as file:
  cursor = db.products.find({})
  file.write(dumps(cursor))

In [ ]:
!ls -lh *.json

-rw-r--r-- 1 root root  36K May 25 18:48 customers.json
-rw-r--r-- 1 root root 1002 May 25 18:48 products.json

In [ ]:
!cat orders_gt_2023_5_15.json

cat: orders_gt_2023_5_15.json: No such file or directory

# Reading JSON file data into Python

## JSON into Pandas DataFrame

In [ ]:
import pandas as pd

In [ ]:
customers_df = pd.read_json('customers.json')
customers_df.head(2)

,_id,customerid,name,email,phone,orders
0,{'$oid': '646fad92f2e8345bc9a7de3e'},1,Samantha Morris,bradleythomas@example.org,"[+1-069-970-8404x5473, 001-151-571-8094, 001-9...",[]
1,{'$oid': '646fad92f2e8345bc9a7de3f'},2,Steven Boyle,bowersjeffrey@example.org,"[484-855-8172, (993)169-9728x2920, 001-928-880...","[{'productid': 2, 'units': 481319, 'purchase_d..."

In [ ]:
products_df = pd.read_json('products.json')
products_df.head(2)

                                    _id  productid  category  price
0  {'$oid': '646fad92f2e8345bc9a7dea2'}          1  Clothing     51
1  {'$oid': '646fad92f2e8345bc9a7dea3'}          2  Clothing     90

### Merge DataFrames

In [ ]:
customers_df.head(4)

,_id,customerid,name,email,phone,orders
0,{'$oid': '646fad92f2e8345bc9a7de3e'},1,Samantha Morris,bradleythomas@example.org,"[+1-069-970-8404x5473, 001-151-571-8094, 001-9...",[]
1,{'$oid': '646fad92f2e8345bc9a7de3f'},2,Steven Boyle,bowersjeffrey@example.org,"[484-855-8172, (993)169-9728x2920, 001-928-880...","[{'productid': 2, 'units': 481319, 'purchase_d..."
2,{'$oid': '646fad92f2e8345bc9a7de40'},3,Francisco Davis,marcussmith@example.org,"[533-742-3054, 707.447.4667, +1-520-673-8349]","[{'productid': 9, 'units': 988209, 'purchase_d..."
3,{'$oid': '646fad92f2e8345bc9a7de41'},4,Mrs. April Maynard,dianagonzalez@example.net,"[(314)763-7166x9472, 001-861-083-9634x0712, 40...","[{'productid': 3, 'units': 304654, 'purchase_d..."

In [ ]:
customers_df.explode('orders').head(4)

,_id,customerid,name,email,phone,orders
0,{'$oid': '646fad92f2e8345bc9a7de3e'},1,Samantha Morris,bradleythomas@example.org,"[+1-069-970-8404x5473, 001-151-571-8094, 001-9...",NaN
1,{'$oid': '646fad92f2e8345bc9a7de3f'},2,Steven Boyle,bowersjeffrey@example.org,"[484-855-8172, (993)169-9728x2920, 001-928-880...","{'productid': 2, 'units': 481319, 'purchase_da..."
1,{'$oid': '646fad92f2e8345bc9a7de3f'},2,Steven Boyle,bowersjeffrey@example.org,"[484-855-8172, (993)169-9728x2920, 001-928-880...","{'productid': 5, 'units': 302015, 'purchase_da..."
2,{'$oid': '646fad92f2e8345bc9a7de40'},3,Francisco Davis,marcussmith@example.org,"[533-742-3054, 707.447.4667, +1-520-673-8349]","{'productid': 9, 'units': 988209, 'purchase_da..."

In [ ]:
pd.json_normalize(customers_df.explode('orders')['orders'])

     productid        units   purchase_date.$date
0          NaN          NaN                   NaN
1          2.0     481319.0  2023-01-26T00:00:00Z
2          5.0     302015.0  2023-01-27T00:00:00Z
3          9.0     988209.0  2022-06-13T00:00:00Z
4          8.0     863970.0  2023-03-15T00:00:00Z
..         ...          ...                   ...
202        7.0     986202.0  2022-10-01T00:00:00Z
203        9.0  716146000.0  2023-01-29T00:00:00Z
204        3.0     642181.0  2023-05-16T00:00:00Z
205        8.0  167524000.0  2022-06-17T00:00:00Z
206        3.0     577200.0  2023-02-25T00:00:00Z

[207 rows x 3 columns]

In [ ]:
cust_ord_prods_df = customers_df.merge(products_df, left_on='productid', right_on='productid')
cust_ord_prods_df.head(3)

KeyError: ignored

### Drop columns

In [ ]:
cust_ord_prods_df.drop('_id_x',axis=1,inplace=True)
cust_ord_prods_df.drop('_id_y',axis=1,inplace=True)
cust_ord_prods_df.drop('_id',axis=1,inplace=True)

In [ ]:
cust_ord_prods_df.head(3)

In [ ]:
#df['date_field'] =
#pd.to_datetime(customers_orders_df['purchase_date']).dt.date

In [ ]:
#customers_orders_df['purchase_date'].apply(pd.Series).merge(customers_orders_df, left_index=True, right_index=True).drop('purchase_date', axis=1)

## JSON into list of python dictionary

### read customers JSON file

In [ ]:
with open('customers.json') as json_file:
    customers = json.load(json_file)

customers[0:2] # show the first 2 records (like head with n=2)

#### explore list of dictionaries

In [ ]:
type(customers)

In [ ]:
len(customers)

In [ ]:
type(customers[1])

In [ ]:
customers[1]

In [ ]:
customers[1]['name']

In [ ]:
customers[1].get('name')

### read orders JSON file

In [ ]:
with open('orders_gt_2023_5_15.json') as json_file:
    orders = json.load(json_file)

orders[0:2] # show the first 2 records (like head with n=2)

### read products JSON file

In [ ]:
with open('products.json') as json_file:
    products = json.load(json_file)

products[0:2] # show the first 2 records (like head with n=2)