<a href="https://colab.research.google.com/github/matthewpecsok/data_engineering/blob/main/tutorials/de_tutorial_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome to Jupyter!

This is a Jupyter notebook. Some blocks are simply text and others are Python code or shell commands. 

We run the notebook from Top->Bottom in sequence with each block of code often requiring the prior block of code to have been executed.

# Step 1: Install required packages

The standard Python distribution doesn't contain all the functionality required for many tasks. To extend the functionality we install packages. Packages can be installed by using pip (package installer for Python) which is a Python script. To call this script we use !

### !

In order to call pip we can use the ! prefix to tell the Jupyer notebook to execute the code as a shell command. Shell commands are a common way to interact with the operating system on unix/linux platforms. Your Google Colab environment is running the Ubuntu Linux operating system.

## pip details

### pip -q

The "-q" flag tells the pip to be quiet about its output. This hides more verbose output that would normally be printed when the packages install. We don't want to see all that output so we use the "-q" option to tell pip to hide it.

### install --upgrade

The install command tells pip we are planning to install a package. Since the ipython package is already installed we use the --upgrade flag to tell pip to upgrade ipython to the latest version.

### Which package?

Finally we tell pip which package we want to install. In this case we are installing/upgrading 2 packages, ipython and ipython-sql.

In [1]:
!pip -q install --upgrade ipython
!pip -q install --upgrade ipython-sql

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

# Import sqlite3

sqlite3 is a package that allows us to use a lightweight, file-based SQL database. We'll use this simple database to perform common database operations without needing to install a more complex database like MySql or Postres. For our purposes a simple flat file database is sufficient.

In [3]:
import sqlite3

use the shell command 'wget' to retrieve the movies database file from github. You can see it in your files path on the left nav bar in colab after running the code. 

If you attempt to run this code on a windows operating system it will fail because wget isn't an available command on windows, only unix based platforms.

In [4]:
!wget -O movies.db https://github.com/matthewpecsok/data_engineering/blob/main/data/movies.sqlite?raw=true

'wget' is not recognized as an internal or external command,
operable program or batch file.

# Create a sqlite connection object. 

To interact with the database we can create a connection object. We'll call it 'movie_con' but be aware we can give it any name we like, and we can have multiple connection objects to multiple databases open at any time.

In [2]:
movie_con = sqlite3.connect('movies.db')

NameError: name 'sqlite3' is not defined

In [ ]:




%load_ext sql
%sql sqlite:///movies.db

%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False

In [ ]:
%%sql SELECT name, sql FROM sqlite_master
WHERE type='table'
ORDER BY name;

In [ ]:
%sql select count(1) from movies

In [ ]:
%sql select count(1) as director_count from directors

In [ ]:
%sql select * from movies limit 5

In [ ]:
%sql select * from directors limit 5

In [ ]:
%sql select max(budget),max(revenue) from movies

In [ ]:
%sql select budget,title from movies order by budget desc limit 10

In [ ]:
%sql select min(release_date),max(release_date),max(release_date) - min(release_date) as years_of_releases from movies

In [ ]:
%%sql select

avg(budget),
avg(revenue),
director_id

from movies

group by director_id order by (avg(budget)) desc
limit 5

In [ ]:
%sql select distinct(department) from directors

In [ ]:
%%sql select *

from movies m
left join directors d on m.director_id = d.id


limit 80

In [ ]:
%%sql select

avg(budget),
avg(revenue),
director_id,
name,
count(1) as movie_count,
max(m.title)


from movies m
left join directors d on m.director_id = d.id

group by director_id
order by avg(budget)
desc
limit 5

In [ ]:
%sql select title from movies where title like '%Star Wars%'