<a href="https://colab.research.google.com/github/matthewpecsok/data_engineering/blob/main/tutorials/de_testing_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to unit tests

suppose we write a function intended to add two numbers together and return the result.

In [ ]:
import unittest

In [ ]:
def add_positive_numbers(a,b):
  return a-b # broken intentionally

In [ ]:
add_positive_numbers(6,7)

-1

how can we make sure this works correctly automatically?



Here we write a unit test to see if the function correctly returns the sum of the two numbers.

Any functions that meet the following criteria will be run.

*  within classes that inherit from TestCase
*  names start with test_


*This test should fail to pass.*

Define the test

We test to see if the function returns a result of 5.

This is normally what you get when you add 2 and 3 together....

## Test should fail.

In [ ]:
class TestAddNumbers(unittest.TestCase):
    def test_add_positive_numbers(self):
        result = add_positive_numbers(2, 3)
        self.assertEqual(result, 5)  # Assert that the result is equal to 5

### Run the test.

In [ ]:
unittest.main(argv=['first-arg-is-ignored'], exit=False)

FE
======================================================================
ERROR: test_get_data_from_api (__main__.TestGetDataFromAPI)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "/usr/lib/python3.10/unittest/mock.py", line 1379, in patched
    return func(*newargs, **newkeywargs)
  File "<ipython-input-1-bacfabae15b9>", line 10, in test_get_data_from_api
    result = get_data_from_api()
NameError: name 'get_data_from_api' is not defined

======================================================================
FAIL: test_add_positive_numbers (__main__.TestAddNumbers)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "<ipython-input-6-ccc59a65e38c>", line 4, in test_add_positive_numbers
    self.assertEqual(result, 5)  # Assert that the result is equal to 5
AssertionError: -1 != 5

----------------------------------------------------------------------
Ran 2 tests in 0.086s

FAILED (failures=1, errors=1)

-1 is truly not equal to 5. This test caught the fact that the function incorrectly added two numbers together.

Now we attempt to fix the function. We re-define the function and run the test again.

This test should pass.

## Fixed function.

In [ ]:
def add_positive_numbers(a, b):
    return a + b # fixed

### Rerun Test.

In [ ]:
unittest.main(argv=['first-arg-is-ignored'], exit=False)

.E
======================================================================
ERROR: test_get_data_from_api (__main__.TestGetDataFromAPI)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "/usr/lib/python3.10/unittest/mock.py", line 1379, in patched
    return func(*newargs, **newkeywargs)
  File "<ipython-input-1-bacfabae15b9>", line 10, in test_get_data_from_api
    result = get_data_from_api()
NameError: name 'get_data_from_api' is not defined

----------------------------------------------------------------------
Ran 2 tests in 0.011s

FAILED (errors=1)

## Raising errors.

Good error handling means raising errors in certain cases.

What if we want to handle an error that SHOULD be raised?

Here we add additional code that makes sure neither a or b is negative.

In [ ]:
def add_positive_numbers(a, b):
    if (a <= 0) or (b <= 0):
        raise ValueError("Cannot pass negative numbers")
    return a + b

In [ ]:
class TestNegative(unittest.TestCase):
    def test_negative(self):
        with self.assertRaises(ValueError):  # Asserts that a ValueError is raised
            add_positive_numbers(-5, 10)

In [ ]:
if __name__ == '__main__':
  unittest.main(argv=['first-arg-is-ignored'], exit=False)

.E.
======================================================================
ERROR: test_get_data_from_api (__main__.TestGetDataFromAPI)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "/usr/lib/python3.10/unittest/mock.py", line 1379, in patched
    return func(*newargs, **newkeywargs)
  File "<ipython-input-1-bacfabae15b9>", line 10, in test_get_data_from_api
    result = get_data_from_api()
NameError: name 'get_data_from_api' is not defined

----------------------------------------------------------------------
Ran 3 tests in 0.011s

FAILED (errors=1)

## Adding names to tests.

What if we would like to know the names of the tests?

We can override the addSuccess and addFailure methods.

Overriding allows us to provide custom functionality that we choose to implement. In this case we make sure to call the base method that would normally run, and we print some text along with the test id.

This code


```
print(f"Test Passed: {test.id()}")
```
and
```
print(f"Test Failed: {test.id()}")
```

is what gives us the test name/id

### Overriding addSuccess and addFailure

In [ ]:
import unittest

class CustomTestResult(unittest.TestResult):
    def addSuccess(self, test):
        super().addSuccess(test)
        print(f"Test Passed: {test.id()}")

    def addFailure(self, test, err):
        super().addFailure(test, err)
        print(f"Test Failed: {test.id()}")

we must then call our custom test class to make sure to use the functionality.

### Updating the test run contructor.

In [ ]:
unittest.main(testRunner=unittest.TextTestRunner(resultclass=CustomTestResult),
              argv=['first-arg-is-ignored'],
              exit=False)

Ran 3 tests in 0.014s

FAILED (errors=1)

Test Passed: __main__.TestAddNumbers.test_add_positive_numbers
Test Passed: __main__.TestNegative.test_negative

## Evaluating expressions

there are many things we can check for

what if we have an expression that should correctly check the length of a list and return either True or False?

In [ ]:
array_length_five = [1,2,3,4,5]

len(array_length_five) < 6

True

In [ ]:
len(array_length_five) < 4

False

In [ ]:
class LengthTest(unittest.TestCase):
    def test_check_expression_true(self):
        self.assertTrue(len([1,2,3,4,5]) < 10) # is this true is the length less than 10?

In [ ]:
if __name__ == '__main__':
  unittest.main(testRunner=unittest.TextTestRunner(resultclass=CustomTestResult),
                argv=['first-arg-is-ignored'],
                exit=False)

Ran 4 tests in 0.010s

FAILED (errors=1)

Test Passed: __main__.LengthTest.test_check_expression_true
Test Passed: __main__.TestAddNumbers.test_add_positive_numbers
Test Passed: __main__.TestNegative.test_negative

Notice how each time a new method is registered it is run by the unittest. Now we have 3 methods that have been run.

In [ ]:
if __name__ == '__main__':
  unittest.main(testRunner=unittest.TextTestRunner(resultclass=CustomTestResult),
                argv=['first-arg-is-ignored'],
                exit=False)

Ran 4 tests in 0.009s

FAILED (errors=1)

Test Passed: __main__.LengthTest.test_check_expression_true
Test Passed: __main__.TestAddNumbers.test_add_positive_numbers
Test Passed: __main__.TestNegative.test_negative

# Testing Data Pipelines (multiple stages)

Testing in the context of Data Engineering.

How to test a sequence of data transformations?

Imagine we have order dates and delivery dates.

## Transformations as individual calls in sequence.

In [ ]:
from pandas.core.internals.array_manager import NaT
import pandas as pd
import numpy as np
import random as random
from datetime import datetime, timedelta

order_dates = [
    datetime(2023, 1, 1),
    datetime(2023, 2, 15),
    datetime(2023, 3, 8),
    datetime(2023, 4, 22),
    datetime(2023, 5, 10),
    NaT,
    datetime(2023, 7, 14),
    datetime(2023, 8, 19),
    datetime(2023, 9, 3),
    datetime(2023, 10, 31)
]

received_dates = [
    datetime(2023, 1, 13),
    datetime(2023, 1, 25),
    NaT,
    datetime(2023, 5, 12),
    datetime(2023, 6, 22),
    datetime(2023, 8, 21),
    datetime(2023, 8, 19),
    datetime(2023, 9, 13),
    datetime(2023, 10, 11),
    datetime(2023, 12, 11)
]

dates_df_orig = pd.DataFrame({
    'order_date' : order_dates,
    'received_date' : received_dates
})

dates_df = dates_df_orig.copy()

our first step to computing the number of days from order to delivery might be to drop any null values.

In [ ]:
dates_df = dates_df.dropna().copy()
dates_df

  order_date received_date
0 2023-01-01    2023-01-13
1 2023-02-15    2023-01-25
3 2023-04-22    2023-05-12
4 2023-05-10    2023-06-22
6 2023-07-14    2023-08-19
7 2023-08-19    2023-09-13
8 2023-09-03    2023-10-11
9 2023-10-31    2023-12-11

our second step could then be to compute

In [ ]:
dates_df.loc[:, 'elapsed_days'] = (dates_df['received_date'] - dates_df['order_date']).dt.days
dates_df

  order_date received_date  elapsed_days
0 2023-01-01    2023-01-13            12
1 2023-02-15    2023-01-25           -21
3 2023-04-22    2023-05-12            20
4 2023-05-10    2023-06-22            43
6 2023-07-14    2023-08-19            36
7 2023-08-19    2023-09-13            25
8 2023-09-03    2023-10-11            38
9 2023-10-31    2023-12-11            41

our final step might be then to drop impossible values (such as negative elapsed days)

In [ ]:
dates_df = dates_df[dates_df['elapsed_days']> 0]
dates_df

  order_date received_date  elapsed_days
0 2023-01-01    2023-01-13            12
3 2023-04-22    2023-05-12            20
4 2023-05-10    2023-06-22            43
6 2023-07-14    2023-08-19            36
7 2023-08-19    2023-09-13            25
8 2023-09-03    2023-10-11            38
9 2023-10-31    2023-12-11            41

Now let's imagine this is a production pipeline with each step a function.We'd like to run multiple commands in sequence and at each step check the results to be sure our transformations are correct.

Let's create some helper functions.

## Using functions to create a pipeline.

In [ ]:
# Step 1
def step_1_dropnull(df):
  df = df.dropna().copy()
  return df

# Step 2
def step_2_compute_days(df):
  df.loc[:, 'elapsed_days'] = (df['received_date'] - df['order_date']).dt.days
  return df

# Step 3
def step_3_dropnegative(df):
  df = df[df['elapsed_days']> 0]
  return df

In [ ]:
df = step_1_dropnull(dates_df_orig)
df = step_2_compute_days(df)
df = step_3_dropnegative(df)
df

  order_date received_date  elapsed_days
0 2023-01-01    2023-01-13            12
3 2023-04-22    2023-05-12            20
4 2023-05-10    2023-06-22            43
6 2023-07-14    2023-08-19            36
7 2023-08-19    2023-09-13            25
8 2023-09-03    2023-10-11            38
9 2023-10-31    2023-12-11            41

There is a problem here though. Have we done ANY error handling? What happens if we pass bad data into our sequence?

### Poor error handling.(really NO error handling)

In [ ]:
df = step_1_dropnull(" Hi I'm NOT a dataframe. I'm a string! ")
df = step_2_compute_days(df)
df = step_3_dropnegative(df)
df

AttributeError: ignored

Good code and pipelines not only process data when everything is perfect. They handle situations in which the pipeline will fail and do so gracefully.

### Beginning to handle errors.

In [ ]:
def step_1_dropnull(df):
  try:
    if isinstance(df, pd.DataFrame):
        # Process the DataFrame
        df = df.dropna().copy()
    else:
        raise TypeError("Input is not a DataFrame.")
  except TypeError as e:
    print(f"step_1_dropnull: {e}")
    raise

  return df

def step_2_compute_days(df):
  df.loc[:, 'elapsed_days'] = (df['received_date'] - df['order_date']).dt.days
  return df

def step_3_dropnegative(df):
  df = df[df['elapsed_days']> 0]
  return df

In [ ]:
df = step_1_dropnull("hi i'm definitely not a dataframe")
df = step_2_compute_days(df)
df = step_3_dropnegative(df)
df

This is better, we've returned a custom error message that helps us diagnose the issue, but the code still crashes. We'd like to handle errors in such a way that the code doesn't crash, but rather fails gracefully.

### Graceful error handling

Here we stop returning an error and instead choose a number to represent failure. In this case we use -5 which means the passed data was not a dataframe. Now we can truly gracefully handle this error and can send a useful message to a data engineer to troubleshoot.

In [ ]:
def the_pipeline(df):
  try:
    df = step_1_dropnull(df)
    df = step_2_compute_days(df)
    df = step_3_dropnegative(df)
    df

    return df

  except Exception as e:
    print(f"Pipeline failed with error: {e}")
    return -5 # negative 5 means the pipeline failed.

In [ ]:
the_pipeline("hi i'm definitely not a dataframe")

# Test driven development

Write the Test first. Then write the Code.

This might seem like a meaningless change, but it causes you to think first about all the ways your code can and should fail.

In [ ]:
class MultiplyNumbers(unittest.TestCase):
    def test_multiply_two_numbers(self):
        result = multiply_two_numbers(2, 4)
        self.assertEqual(result, 8)  # Assert that the result is equal to 8

In [ ]:
def multiply_two_numbers(a,b):
  return

In [ ]:
if __name__ == '__main__':
  unittest.main(testRunner=unittest.TextTestRunner(resultclass=CustomTestResult),
                argv=['first-arg-is-ignored'],
                exit=False)

Now we know the test appears to work as it failed as expected.

Refactor the code so the test will pass.

In [ ]:
def multiply_two_numbers(a,b):
  result = a*b
  return result

In [ ]:
if __name__ == '__main__':
  unittest.main(testRunner=unittest.TextTestRunner(resultclass=CustomTestResult),
                argv=['first-arg-is-ignored'],
                exit=False)

# Mocking

In [ ]:
import requests

def get_data_from_api():
    response = requests.get('https://api.example.com/data')
    return response.json()

In [ ]:
import unittest
from unittest.mock import patch
from unittest import mock
import requests

class TestGetDataFromAPI(unittest.TestCase):
    @patch('requests.get')
    def test_get_data_from_api(self, mock_get):
        mock_response = {'data': 'mocked data'}
        mock_get.return_value.json.return_value = mock_response

        result = get_data_from_api()

        mock_get.assert_called_once_with('https://api.example.com/data')
        self.assertEqual(result, mock_response)

    @patch('requests.get')
    def test_successful_api_response(self, mock_get):
        # Mock the API response
        mock_response = mock.Mock()
        mock_response.status_code = 200
        mock_response.json.return_value = {'data': 'example'}
        mock_get.return_value = mock_response

        # Call the function that interacts with the API
        result = get_data_from_api()

        # Assertions
        mock_get.assert_called_once_with('https://api.example.com/data')
        self.assertEqual(result, {'data': 'example'})

In [ ]:
if __name__ == '__main__':
  unittest.main(testRunner=unittest.TextTestRunner(resultclass=CustomTestResult),
                argv=['first-arg-is-ignored'],
                exit=False)

Ran 5 tests in 0.007s

OK

Test Passed: __main__.LengthTest.test_check_expression_true
Test Passed: __main__.TestAddNumbers.test_add_positive_numbers
Test Passed: __main__.TestGetDataFromAPI.test_get_data_from_api
Test Passed: __main__.TestGetDataFromAPI.test_successful_api_response
Test Passed: __main__.TestNegative.test_negative

In [ ]:
!pip install coverage

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting coverage
  Downloading coverage-7.2.7-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (228 kB)
      228.7/228.7 kB 5.9 MB/s eta 0:00:00
Installing collected packages: coverage
Successfully installed coverage-7.2.7

In [ ]:
import coverage

def square(x):
    return x ** 2

def add(a, b):
    return a + b

def subtract(a, b):
    return a - b


# Create a coverage object
cov = coverage.Coverage()

# Start measuring code coverage
cov.start()

# Call the functions to be tested
result1 = square(5)
result2 = add(3, 7)
result3 = subtract(10, 4)

# Stop measuring code coverage
cov.stop()

# Generate coverage report
cov.report()

# Optionally, generate an HTML report
cov.html_report(directory='coverage_report')

# Optionally, generate an XML report
cov.xml_report(outfile='coverage.xml')

/usr/local/lib/python3.10/dist-packages/coverage/control.py:860: CoverageWarning: No data was collected. (no-data-collected)
  self._warn("No data was collected.", slug="no-data-collected")

NoDataError: ignored

In [ ]:
%%writefile sample.py

def sum(num1, num2):
    if (num1>5):
      print('gt5')
    else:
      print('lte5')

    return num1 + num2


def sum_only_positive(num1, num2):
    if num1 > 0 and num2 > 0:
        return num1 + num2
    else:
        return None

Overwriting sample.py

In [ ]:
%%writefile test.py

from sample import sum, sum_only_positive

#def test_sum():
#    assert sum(5, 5) == 10

def test_sum_positive_ok():
    assert sum_only_positive(2, 2) == 4

def test_sum_positive_fail():
    assert sum_only_positive(-1, 2) is None

Overwriting test.py

In [ ]:
!coverage run --source=sample -m pytest test.py

============================= test session starts ==============================
platform linux -- Python 3.10.12, pytest-7.2.2, pluggy-1.0.0
rootdir: /content
plugins: anyio-3.6.2
collected 2 items

test.py ..                                                               [100%]

============================== 2 passed in 0.02s ===============================

In [ ]:
%%writefile __init__.py

Writing __init__.py