<a href="https://colab.research.google.com/github/matthewpecsok/data_engineering/blob/main/tutorials/de_tutorial_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import sqlite3

In [2]:
!wget -O movies.db https://github.com/matthewpecsok/data_engineering/blob/main/data/movies.sqlite?raw=true

con = sqlite3.connect('movies.db')

!pip -q install --upgrade ipython
!pip -q install --upgrade ipython-sql


%load_ext sql
%sql sqlite:///movies.db

%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False

--2023-06-23 21:40:22--  https://github.com/matthewpecsok/data_engineering/blob/main/data/movies.sqlite?raw=true
Resolving github.com (github.com)... 140.82.121.4
Connecting to github.com (github.com)|140.82.121.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://github.com/matthewpecsok/data_engineering/raw/main/data/movies.sqlite [following]
--2023-06-23 21:40:22--  https://github.com/matthewpecsok/data_engineering/raw/main/data/movies.sqlite
Reusing existing connection to github.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/matthewpecsok/data_engineering/main/data/movies.sqlite [following]
--2023-06-23 21:40:23--  https://raw.githubusercontent.com/matthewpecsok/data_engineering/main/data/movies.sqlite
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2527232 (2.4M) [application/octet-stream]
Saving to: ‘movies.db’

movies.db           100%[===================>]   2.41M  --.-KB/s    in 0.07s

2023-06-23 21:40:23 (37.0 MB/s) - ‘movies.db’ saved [2527232/2527232]

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 798.7/798.7 kB 13.5 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 47.8 MB/s eta 0:00:00
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires ipython==7.34.0, but you have ipython 8.14.0 which is incompatible.

In [3]:
%%sql SELECT name, sql FROM sqlite_master
WHERE type='table'
ORDER BY name;

              name                                                sql
0        directors  CREATE TABLE `directors` (\n`name` TEXT,\n`id`...
1           movies  CREATE TABLE `movies` (\n`id` INTEGER PRIMARY ...
2  sqlite_sequence             CREATE TABLE sqlite_sequence(name,seq)

In [ ]:
%sql select count(1) from movies

   sqlite:///hubway.db
 * sqlite:///movies.db

   count(1)
0      4773

In [ ]:
%sql select count(1) from directors

   sqlite:///hubway.db
 * sqlite:///movies.db

   count(1)
0      2349

In [ ]:
%sql select * from movies limit 5

   sqlite:///hubway.db
 * sqlite:///movies.db

,id,original_title,budget,popularity,release_date,revenue,title,vote_average,vote_count,overview,tagline,uid,director_id
0,43597,Avatar,237000000,150,2009-12-10,2787965087,Avatar,7.2,11800,"In the 22nd century, a paraplegic Marine is di...",Enter the World of Pandora.,19995,4762
1,43598,Pirates of the Caribbean: At World's End,300000000,139,2007-05-19,961000000,Pirates of the Caribbean: At World's End,6.9,4500,"Captain Barbossa, long believed to be dead, ha...","At the end of the world, the adventure begins.",285,4763
2,43599,Spectre,245000000,107,2015-10-26,880674609,Spectre,6.3,4466,A cryptic message from Bond’s past sends him o...,A Plan No One Escapes,206647,4764
3,43600,The Dark Knight Rises,250000000,112,2012-07-16,1084939099,The Dark Knight Rises,7.6,9106,Following the death of District Attorney Harve...,The Legend Ends,49026,4765
4,43601,John Carter,260000000,43,2012-03-07,284139100,John Carter,6.1,2124,"John Carter is a war-weary, former military ca...","Lost in our world, found in another.",49529,4766

In [ ]:
%sql select * from directors limit 5

   sqlite:///hubway.db
 * sqlite:///movies.db

                name    id  gender   uid department
0      James Cameron  4762       2  2710  Directing
1     Gore Verbinski  4763       2  1704  Directing
2         Sam Mendes  4764       2    39  Directing
3  Christopher Nolan  4765       2   525  Directing
4     Andrew Stanton  4766       2     7  Directing

In [ ]:
%sql select max(budget),max(revenue) from movies

   sqlite:///hubway.db
 * sqlite:///movies.db

   max(budget)  max(revenue)
0    380000000    2787965087

In [ ]:
%sql select budget,title from movies order by budget desc limit 10

   sqlite:///hubway.db
 * sqlite:///movies.db

      budget                                        title
0  380000000  Pirates of the Caribbean: On Stranger Tides
1  300000000     Pirates of the Caribbean: At World's End
2  280000000                      Avengers: Age of Ultron
3  270000000                             Superman Returns
4  260000000                                  John Carter
5  260000000                                      Tangled
6  258000000                                 Spider-Man 3
7  255000000                              The Lone Ranger
8  250000000                        The Dark Knight Rises
9  250000000       Harry Potter and the Half-Blood Prince

In [ ]:
%sql select min(release_date),max(release_date),max(release_date) - min(release_date) as years_of_releases from movies

   sqlite:///hubway.db
 * sqlite:///movies.db

  min(release_date) max(release_date)  years_of_releases
0        1916-09-04        2017-02-03                101

In [ ]:
cursor = con.cursor()

In [ ]:
%%sql select

avg(budget),
avg(revenue),
director_id

from movies

group by director_id order by (avg(budget)) desc
limit 5

   sqlite:///hubway.db
 * sqlite:///movies.db

    avg(budget)  avg(revenue)  director_id
0  2.600000e+08  5.917949e+08         4768
1  2.000000e+08  1.066970e+09         4792
2  2.000000e+08  7.435596e+08         4787
3  1.933333e+08  7.429717e+08         4770
4  1.850000e+08  5.389832e+08         4801

In [ ]:
%%sql select

avg(budget),
avg(revenue),
director_id,
name,
count(1) as movie_count

from movies m
left join directors d on m.director_id = d.id

group by director_id
having(count(1)>3)
order by avg(budget)
desc
limit 3

   sqlite:///hubway.db
 * sqlite:///movies.db

    avg(budget)  avg(revenue)  director_id            name  movie_count
0  1.635000e+08  5.272613e+08         4766  Andrew Stanton            4
1  1.581429e+08  4.538591e+08         4763  Gore Verbinski            7
2  1.448750e+08  3.510294e+08         4772    Bryan Singer            8

In [ ]:
%sql select * from movies where director_id = 4768

   sqlite:///hubway.db
 * sqlite:///movies.db

,id,original_title,budget,popularity,release_date,revenue,title,vote_average,vote_count,overview,tagline,uid,director_id
0,43603,Tangled,260000000,48,2010-11-24,591794936,Tangled,7.4,3330,When the kingdom's most wanted-and most charmi...,They're taking adventure to new lengths.,38757,4768

In [ ]:
https://www.cbr.com/disney-tangled-most-expensive-animated-film/

In [ ]:
%sql select * from movies where director_id not in (select id from directors)

   sqlite:///hubway.db
 * sqlite:///movies.db

Empty DataFrame
Columns: []
Index: []