<a href="https://colab.research.google.com/github/matthewpecsok/data_engineering/blob/main/tutorials/sqlite_json_example_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3

conn = sqlite3.connect('test.db')
print("Opened database successfully")

In [ ]:
conn.execute('''CREATE TABLE if not exists customers (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    email TEXT NOT NULL,
    addresses TEXT -- Stores JSON data as text
);
''')

conn.commit()
print("Table created successfully")

In [ ]:
conn.execute('''
INSERT INTO customers (name, email, addresses)
VALUES
('John Doe', 'john.doe@example.com', '[{"street": "123 Main St", "city": "Springfield", "state": "IL", "zip": "62704"},
{"street": "44 Some St", "city": "Buffalo", "state": "IL", "zip": "63018"}]'),

('Jane Smith', 'jane.smith@example.com', '[{"street": "456 Elm St", "city": "Chicago", "state": "IL", "zip": "60616"}]');

''')

conn.commit()

In [ ]:
conn.execute('''

SELECT
    name,
    json_extract(value, '$.street') AS street,
    json_extract(value, '$.city') AS city,
    json_extract(value, '$.state') AS state,
    json_extract(value, '$.zip') AS zip
FROM customers, json_each(customers.addresses);


''').fetchall()