<a href="https://colab.research.google.com/github/matthewpecsok/data_engineering/blob/main/labs/de_assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Engineering - Lab 2

Matthew Pecsok

## Intro to table of contents

In this lab we'll be introduced to the Google Colab environment. To start this notebook simply go to "Runtime" and choose "Run All". This will connect Colab to your virtual machine and run the code needed to get your database setup.

You'll notice that notebooks are setup with a table of contents navigation bar on the left nav bar of your screen. Mouse over and hover to see which options are available and click "Table of Contents" to see the major sections to this Notebook.

## Database setups (do not modify)

In [ ]:
# setups including getting the database 

!wget -O northwind.db https://github.com/matthewpecsok/data_engineering/raw/main/data/northwind.db

import sqlite3
con = sqlite3.connect("northwind.db")

!pip install duckdb
!pip install duckdb-engine

%load_ext sql
%sql sqlite:///northwind.db

%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False

import duckdb

--2023-01-12 23:22:34--  https://github.com/matthewpecsok/data_engineering/raw/main/data/northwind.db
Resolving github.com (github.com)... 20.27.177.113
Connecting to github.com (github.com)|20.27.177.113|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/matthewpecsok/data_engineering/main/data/northwind.db [following]
--2023-01-12 23:22:35--  https://raw.githubusercontent.com/matthewpecsok/data_engineering/main/data/northwind.db
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 602112 (588K) [application/octet-stream]
Saving to: ‘northwind.db’

northwind.db        100%[===================>] 588.00K  --.-KB/s    in 0.05s

2023-01-12 23:22:35 (11.6 MB/s) - ‘northwind.db’ saved [602112/602112]

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: duckdb in /usr/local/lib/python3.8/dist-packages (0.6.1)
Requirement already satisfied: numpy>=1.14 in /usr/local/lib/python3.8/dist-packages (from duckdb) (1.21.6)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: duckdb-engine in /usr/local/lib/python3.8/dist-packages (0.6.8)
Requirement already satisfied: duckdb>=0.4.0 in /usr/local/lib/python3.8/dist-packages (from duckdb-engine) (0.6.1)
Requirement already satisfied: sqlalchemy<2.0.0,>=1.3.19 in /usr/local/lib/python3.8/dist-packages (from duckdb-engine) (1.4.46)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from duckdb-engine) (1.21.6)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.8/dist-packages (from sqlalchemy<2.0.0,>=1.3.19->duckdb-engine) (2.0.1)
The sql extension is already loaded. To reload it, use:
  %reload_ext sql

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: UserWarning: Config option `displaycon` not recognized by `SqlMagic`.  Did you mean `displaylimit`?
  exec(code_obj, self.user_global_ns, self.user_ns)

## ERD of the Northwind Database


![ERD](https://github.com/matthewpecsok/data_engineering/blob/main/data/Northwind_ERD.png?raw=true)

Using %sql allows for one line sql statements
Using %%sql allows for multi-line sql statements and better readability for long sql queries.

In [ ]:
%sql select * from products limit 4

 * sqlite:///northwind.db

,ProductID,ProductName,SupplierID,CategoryID,QuantityPerUnit,UnitPrice,UnitsInStock,UnitsOnOrder,ReorderLevel,Discontinued
0,1,Chai,1,1,10 boxes x 20 bags,18,39,0,10,0
1,2,Chang,1,1,24 - 12 oz bottles,19,17,40,25,0
2,3,Aniseed Syrup,1,2,12 - 550 ml bottles,10,13,70,25,0
3,4,Chef Anton's Cajun Seasoning,2,2,48 - 6 oz jars,22,53,0,0,0

In [ ]:
%%sql 

select 
count(1) as product_count
from 
products

 * sqlite:///northwind.db
Done.

[(77,)]

## Lab question 1

Use the code block below to answer the question.

In [ ]:
%sql --your code here

 * sqlite:///northwind.db
0 rows affected.

[]

## Lab question 2

In [ ]:
%sql --your code here

 * sqlite:///northwind.db
0 rows affected.

[]

## Lab question 3

In [ ]:
%sql --your code here

 * sqlite:///northwind.db
0 rows affected.

[]

## Lab question 4

In [ ]:
%sql --your code here

 * sqlite:///northwind.db
0 rows affected.

[]

add additional sections as needed to complete the quiz