<a href="https://colab.research.google.com/github/matthewpecsok/data_engineering/blob/main/labs/de_lab_2_your_name_here.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Engineering - Lab 2

Matthew Pecsok

## Intro to table of contents

In this lab we'll be practing the lessons and skills learned from Tutorial 2 to migrate data. Please see the Assignment rubric for details on how to complete the code for the lab.

## Database setups (do not modify)

In [ ]:
# setups including getting the database

!wget -O northwind.db https://github.com/matthewpecsok/data_engineering/raw/main/data/northwind.db

!pip -q install --upgrade ipython
!pip -q install --upgrade ipython-sql

import sqlite3
con = sqlite3.connect("northwind.db")

!pip install duckdb
!pip install duckdb-engine

%load_ext sql
%sql sqlite:///northwind.db

%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False

import duckdb

--2023-05-19 19:57:01--  https://github.com/matthewpecsok/data_engineering/raw/main/data/northwind.db
Resolving github.com (github.com)... 140.82.112.4
Connecting to github.com (github.com)|140.82.112.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/matthewpecsok/data_engineering/main/data/northwind.db [following]
--2023-05-19 19:57:01--  https://raw.githubusercontent.com/matthewpecsok/data_engineering/main/data/northwind.db
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 602112 (588K) [application/octet-stream]
Saving to: ‘northwind.db’

northwind.db        100%[===================>] 588.00K  --.-KB/s    in 0.05s

2023-05-19 19:57:01 (12.4 MB/s) - ‘northwind.db’ saved [602112/602112]

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 797.7/797.7 kB 9.5 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 27.2 MB/s eta 0:00:00
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires ipython==7.34.0, but you have ipython 8.13.2 which is incompatible.
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: duckdb in /usr/local/lib/python3.10/dist-packages (0.7.1)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting duckdb-engine
  Downloading duckdb_engine-0.7.3-py3-none-any.whl (40 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 40.8/40.8 kB 3.3 MB/s eta 0:00:00
Requirement already satisfied: duckdb>=0.4.0 in /usr/local/lib/python3.10/dist-packages (from duckdb-engine) (0.7.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from duckdb-engine) (1.22.4)
Requirement already satisfied: sqlalchemy>=1.3.22 in /usr/local/lib/python3.10/dist-packages (from duckdb-engine) (2.0.10)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=1.3.22->duckdb-engine) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=1.3.22->duckdb-engine) (2.0.2)
Installing collected packages: duckdb-engine
Successfully installed duckdb-engine-0.7.3

## ERD of the Northwind Database


![ERD](https://github.com/matthewpecsok/data_engineering/blob/main/data/Northwind_ERD.png?raw=true)

Using %sql allows for one line sql statements
Using %%sql allows for multi-line sql statements and better readability for long sql queries.

In [ ]:
%sql select * from products limit 4

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [ ]:
%%sql

select
count(1) as product_count
from
products

   product_count
0             77

When creating your new database and tables you will may need to learn more about the datatypes for columns. Read more here.

https://www.sqlite.org/datatype3.html

## Create a new database for migrating data from northwind.

Use the code block below to answer the question.

## Create a new table for storing order/product info.

 * sqlite:///northwind.db
0 rows affected.

[]

add additional sections as needed to complete the assignment

In [ ]:
# replace ###### with your file name
# make sure you have your google drive mounted.

!cp "/content/drive/MyDrive/Colab Notebooks/######.ipynb" ./
!jupyter nbconvert --to html "######.ipynb"